@charset "UTF-8";

/*##############################*/
/*html*/
/*##############################*/

html {
    font-size: 62.5%;
}

body{
    text-align: center;
    font-size: 1.4rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.6;
    min-height: 480px;
}
body p{
    margin-top: 20px;
}

/*##############################*/
/*common*/
/*##############################*/

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.mobile{
    display: none;
}

/*##############################*/
/*header*/
/*##############################*/

.header{
    height: 75px;
    width: 100vw;
    position: fixed;
    background: #ffc33c;
    color: white;

    z-index: 2;
    padding: 13px 70px 5px 90px;
    align-items: center;
    box-shadow: 0 0 15px 0 #4262a0;
}
.header a{
    color: white;
}


.header_img{
    float: left;
    height:50px;
    padding-right: 10px;
}

.top-text{
    letter-spacing: 1px;
    float: left;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start; /* 縦方向中央揃え（Safari用） */
    align-items: flex-start;
    flex-direction: column;
}

.top-text p{
    margin-top: 0;
}

.down{
    font-size: 2.4rem;
    line-height: 1;
}


.global-nav-list{
    display: flex;
    flex-direction: row;
}

@media(min-width: 800px){

    .global-nav{
        text-align: center;
        display: -webkit-inline-flex; /* Safari */
        display: inline-flex;
        float: right;
        justify-content: flex-end;
        width: calc(100vw  - 450px);
        z-index: 2;
    }

    .global-nav .nav-item{
        padding: 0 10px;
    }

    .global-nav .nav-item a{
        letter-spacing: 1px;
        line-height: 55px;
        height: 55px;
        display: inline-block;
        padding: 0 10px;
        position: relative;
        transition: .3s;
    }

    .global-nav .nav-item a::after {
        position: absolute;
        bottom: 8px;
        left: 50%;
        content: '';
        width: 0;
        height: 1px;
        background-color: white;
        transition: .3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .global-nav .nav-item a:hover::after {
        width: 100%;
    }
}


.CP-nav{
    position: fixed;
    top: 75px;
    right: 255px;
    width: 125px;
background-color: rgba(255,255,255,0.8);
    justify-content: center;

    box-shadow: 0 6px 8px -5px #4262a0;
}
.CP-nav-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.CP-item a{
    display: inline-block;

    line-height: 55px;
    height: 55px;
    color: black;
    letter-spacing: 1px;

    margin: auto;
    padding: 0 10px;
    position: relative;
    transition: .3s;
}

.CP-nav .CP-item a::after {
    position: absolute;
    bottom: 8px;
    left: 50%;
    content: '';
    width: 0;
    height: 1px;
    background-color: black;
    transition: .3s;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.CP-nav .CP-item a:hover::after {
    width: 100%;
}

.CP-nav-list .now a::after{
    position: absolute;
    bottom: 8px;
    left: 50%;
    content: '';
    width: 100%;
    height: 1px;
    background-color: black;
}

/*##############################*/
/*under-header*/
/*##############################*/

.under-header{
    height: 75px;
    width: 100%;
}

/*##############################*/
/*top*/
/*##############################*/

.top{
    background: url("../pictures/top.png") center;
    background-size: cover;
    color: white;
    overflow: hidden;
    position: relative;
    z-index: 0;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center; /* 縦方向中央揃え（Safari用） */
    align-items: center; /* 縦方向中央揃え */
    -webkit-justify-content: center; /* 横方向中央揃え（Safari用） */
    justify-content: center; /* 横方向中央揃え */
    flex-direction: column;
}
.top:before{
    content: '';
    background: inherit;/*.topで設定した背景画像を継承する*/
    -webkit-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    position: absolute; /*ブラー効果で画像の端がボヤけた分だけ位置を調整*/
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;/*重なり順序を一番下にしておく*/
}

.top-img{
    height: 92px;
}
.top-text{
    font-weight: bold;
}

.eeic{
    letter-spacing: 13px;
    font-size: 3.2rem;
    margin-top: 5px;
    margin-left: 10px;
}
.top1{
    font-size: 2.5rem;
    font-weight: bold;
}
h1{
    font-size: 8rem;
    letter-spacing: 12px;
    line-height: 1.2;
    text-align: center;
}

/*##############################*/
/*about contents footer -> factor*/
/*##############################*/

.factor {
    font-size: 1.6rem;
    border-bottom: 1px solid gray;
    padding: 105px 50px 50px 50px;
    margin-top: -75px;
}

.heading{
    font-size: 3rem;
    letter-spacing: 2px;
    display: inline-block;
    margin: 25px 0 15px;
    padding-bottom: 8px;
    position: relative;
}
.heading::before,
.heading::after{
    content: '';
    border-bottom: 2px solid white;
    right: 0;
    bottom:0;
    left: 0;
    position: absolute;
}


/*##############################*/
/*about*/
/*##############################*/

.about-text{
    margin-bottom: 20px;
}

.middle{
    display: none;
}
.short{
    display: none;
}
@media(max-width: 1100px){
    .middle{
        display: inline;
    }

    .mobile-hide{
        display: none;
    }
}

@media(max-width: 890px){
    .short{
        display: inline;
    }
    .short-hide{
        display: none;
    }
}

/*##############################*/
/*contents*/
/*##############################*/


.contents-wrapper{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;

    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.contents-box{
    width: 27%;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column; /* Safari */
    flex-direction:         column;

    align-items: center;
}
.contents-img{
    width: 75%;
    border-radius: 400px;
    border: solid 2px #fff;
    box-shadow:0px 0px 10px #ccc;
}

.contents-text{
    text-align: justify;

    flex-grow: 2;
}
h3{
    font-size: 2.2rem;
    letter-spacing: 3px;
    margin-top: 30px;

    flex-grow: 0;
}

.link-button{
    display: block;
    line-height: 2;
    width: 60%;
    border: 1px solid black;

    margin-top: 20px;
    color: black;

    flex-grow: 0;
}

.contents-box a:hover {
    background-color: #eeeeee;
    transition: .3s;
}


/*##############################*/
/*access*/
/*##############################*/

.access-box{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 40px;

    flex-direction: row;
    justify-content: center;

}
.access-text{
    text-align: left;
    margin: 0 20px;
    padding-top: 20px;
}

/*##############################*/
/*links*/
/*##############################*/

.links{
    width: 50%;
    color: black;
}

h4{
    font-size: 2rem;
}

.links p{
    margin-top: 0;
}

.link-img{
    max-height: 120px;
    width: auto;
    max-width: 100%;
}

.mini-mobile{
    display: none;
}


/*##############################*/
/*footer*/
/*##############################*/

.footer{
    height: 60px;
}
.copyright{
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    margin-top: 0;
}



/*##############################*/
/*For SmartPhone*/
/*##############################*/

@media (max-width: 800px) {

    body{
        text-align: center;
        font-size: 1.4rem;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        line-height: 1.6;
        min-height: 565px;
        height: 100%;
    }


    .heading{
        font-size: 3rem;
        letter-spacing: 2px;
        display: inline-block;
        margin: 15px 0 15px;
        padding-bottom: 8px;
        position: relative;
    }
    .factor {
        font-size: 1.6rem;
        border-bottom: 1px solid gray;
        padding: 105px 30px 30px 30px;
        margin-top: -75px;
    }

    .mobile{
        display: inline;
        text-align: center;
    }
    .mobile-hide{
        display: none;
    }
    .short{
        display: none;
    }
    .middle{
        display: none;
    }
    .middle-hide{
        display: none;
    }

    /*##############################*/
    /*header*/
    /*##############################*/
    .header{
        height: 50px;
        padding: 8px 10px 7px 10px;
    }
    .under-header{
        height: 50px;
    }


    .header_img{
        height: 93%;
        padding-right: 7px;
    }

    .top-text{
        letter-spacing: 1px;
    }

    .top-text p{
        margin-top: 0;
    }

    .up{
        font-size: 1.0rem;
        line-height: 1.2;
    }
    .down{
        font-size: 2rem;
        line-height: 1;
    }



    .menu-trigger{
        border-left: 1px solid white;
        width: 50px;
        height: 35px;
        padding: 3px 8px 3px 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        float: right;
    }
    .menu-trigger span{
        display: block;
        width: 100%;
        background-color: white;
        height: 4px;
    }


    .global-nav{
        display: flex;

        position: fixed;
        left:0;
        top: 50px;
        z-index: 2;

        box-shadow: 0 5px 5px rgba(66, 98, 160,0.4);
    }

    .global-nav-list{
        display: none;
    }

    .nav-item{
        text-align: center;
        display: block;
        height: 60px;
        width: 100vw;
        border-bottom: 1px solid white;
        background-color: rgba(255, 195, 60, 0.95);
    }

    .global-nav .nav-item a{
        letter-spacing: 1px;
        line-height: 60px;
        height: 60px;
        width: 100vw;
        display: inline-block;
        padding: 0;
    }

    .C-L{
        display: flex;
        flex-direction: row;
    }
    .nav{
        width: 50vw;
    }

    .space1{
        width: 25vw;
        height: 60px;
        float: left;
    }
    .space2{
        width: 25vw;
        height: 60px;
        float: right;
    }

    .tri{
        width: 0;
        height:0;
        border: 10px solid transparent;
        border-top: 10px solid #aaaaaa;
        margin: 25px auto;
    }

    .CP-nav{
        top:170px;
        right: 0;
        height: 180px;
        width: 100vw;

        overflow: hidden;
        background-color: rgba(0,0,0,0);
        box-shadow: none;
    }

    .CP-nav-list{
        flex-direction: column;

        margin-top:-180px;

        height: auto;
        transition: .23s;
        background-color: black;
    }

    .CP-item{
        width: 100vw;
        height: 60px;

        border-bottom: 1px solid white;
    }

    .CP-item a{
        display: block;

        line-height: 60px;
        height: 60px;
    }

    .CP-nav .CP-item a{
        letter-spacing: 1px;
        line-height: 55px;
        height: 55px;
        margin: 0 20px;
        display: inline-block;
        padding: 0 10px;
        position: relative;

        color: white;
    }

    .CP-nav-list .now a::after{
        background-color: white;
    }

    .slide-down{
        margin-top: 180px;
        transition: .3s;
    }
    .slide-up{
        margin-top: 0;
        transition: .23s;
    }


    .through{
        margin-top:0;

        z-index: 2;
        transition: .3s;
        pointer-events: auto;
    }

    /*##############################*/
    /*top*/
    /*##############################*/

    .top{
        padding: 0 10px;
    }

    .top1{
        padding-bottom: 20px;
        font-size: 2rem;
        line-height: 1.3;
    }
    h1{
        font-size: 5rem;
        letter-spacing: 9px;
    }
    @media (max-width: 320px) {
        h1{
            font-size: 4rem;
        }
    }

    /*##############################*/
    /*factor*/
    /*##############################*/

    .factor {
        padding: 80px 50px 50px 50px;
        margin-top: -50px;
    }

    /*##############################*/
    /*about*/
    /*##############################*/

    .about-text　mobile-text{
        text-align: justify;
    }

    /*##############################*/
    /*contents*/
    /*##############################*/


    .contents-wrapper{
        display: -webkit-flex;
        display: flex;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 30px;

        -webkit-flex-direction: column; /* Safari */
        flex-direction:         column;
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .contents-box{
        width: 100%;
        margin-bottom: 80px;
    }
    .contents-box:last-of-type {
        margin-bottom: 0;
    }
    .contents-img{
        width: 75%;
    }

    .contents-text{
        width: 100%;
        margin-top: 15px;
    }
    h3{
        font-size: 2.2rem;
        letter-spacing: 3px;
        margin-top: 15px;
    }

    /*##############################*/
    /*access*/
    /*##############################*/

    .access-box{
        display: -webkit-flex;
        display: flex;
        width: 100%;

        flex-direction: column;
        justify-content: center;

    }
    .map{
        width: 100%;
    }
    .access-text{
        text-align: center;
    }


    /*##############################*/
    /*links*/
    /*##############################*/

    h4{
        font-size: 1.5rem;
    }

    @media(max-width: 345px){
        .mini-mobile{
            display: inline;
        }
    }

    /*##############################*/
    /*footer*/
    /*##############################*/

    .footer{
        height: 60px;
    }
    .copyright{
        text-align: center;
        letter-spacing: 1px;
        line-height: 2;
        padding: 5px 10px;
    }
}
