@charset "UTF-8";

/*##############################*/
/*html*/
/*##############################*/

html {
    font-size: 62.5%;
    height: 100%;
}

body{
    text-align: center;
    font-size: 1.4rem;
    font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    line-height: 1.6;
    min-height: 565px;
    height: 100%;
}
body p{
    margin-top: 20px;
}

body a{
    color: black;
}

/*##############################*/
/*common*/
/*##############################*/

*, *::before, *::after {
    box-sizing: border-box;
    text-decoration: none;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}
.hide {
    display: none;
}
.show {
    display: block;
}

.mobile{
    display: none;
}

/*##############################*/
/*header*/
/*##############################*/

.header{
    height: 75px;
    width: 100%;
    position: fixed;

    background: #ffc33c;

    /*border-bottom: 1px solid gray;*/
    z-index: 100;
    padding: 13px 70px 5px 90px;
    align-items: center;
    box-shadow: 0 0 15px 0 #4262a0;
}

body .header a, body .header p{
    color: white;
}

.header_img{
    float: left;
    height:50px;
    padding-right: 10px;
}

.top-text{
    letter-spacing: 1px;
    float: left;

    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-start; /* 縦方向中央揃え（Safari用） */
    align-items: flex-start;
    flex-direction: column;
}

.top-text p{
    margin-top: 0;
}

.down{
    font-size: 2.4rem;
    line-height: 1;
}

.global-nav-list{
    display: flex;
    flex-direction: row;
}

.global-nav{
    text-align: center;
    display: -webkit-inline-flex; /* Safari */
    display: inline-flex;
    float: right;
}

.global-nav .nav-item{
    padding: 0 10px;
}

.global-nav .nav-item a{
    letter-spacing: 1px;
    line-height: 55px;
    height: 55px;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    transition: .3s;
}
@media (min-width: 768px) {
    .global-nav .nav-item a::after {
        position: absolute;
        bottom: 8px;
        left: 50%;
        content: '';
        width: 0;
        height: 1px;
        background-color: white;
        transition: .3s;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }

    .global-nav .nav-item a:hover::after {
        width: 100%;
    }
}
/*##############################*/
/*about contents footer -> factor*/
/*##############################*/

.factor {
    font-size: 1.6rem;
    padding: 75px 0px 0px 0px;
}

.factor + .factor{
    padding: 0px 0px 0px 0px;
}

.heading{
    font-size: 3rem;
    letter-spacing: 2px;
    display: inline-block;
    margin: 25px 0 15px;
    padding-bottom: 8px;
    position: relative;
}
.heading::before,
.heading::after{
    content: '';
    border-bottom: 2px solid #333;
    right: 0;
    bottom:0;
    left: 0;
    position: absolute;
}


/*##############################*/
/*about*/
/*##############################*/

.about-text{
    margin-bottom: 20px;
}

/*button*/

.button {
    font-size: 30px;
    color: #f5f5f5;
    background-color: #00acc6;
    transition: background-color 300ms 0s ease;
    border: solid thin #c7b390;
    border-radius: 10px;
    margin-top: 20px;
}

.button:hover {
    background-color: #00c8f8;
    transition: all 300ms 0s ease;
}

.button[value="running"] {
    background-color: #c43a4d;
    transition: background-color 300ms 0s ease;
}

.button[value="running"]:hover {
    background-color: #f54961;
    transition: all 300ms 0s ease;
}

.button:focus {
    outline: none;
}


/*##############################*/
/*contents*/
/*##############################*/


.contents-wrapper{
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 0px;

    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.contents-box{
    width: 27%;
}
.contents-img{
    width: 75%;
}

.contents-text{
    /*width: 100%;*/
    text-align: justify;
    /*text-justify: distribute;*/
}
h3{
    font-size: 2.2rem;
    letter-spacing: 3px;
    margin-top: 30px;
}



/*##############################*/
/*footer*/
/*##############################*/

.footer{
    height: 60px;
}
.copyright{
    text-align: center;
    letter-spacing: 1px;
    line-height: 60px;
    margin-top: 0;
}







/*##############################*/
/*For SmartPhone*/
/*##############################*/

@media (max-width: 768px) {

    body{
        text-align: center;
        font-size: 1.4rem;
        font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
        line-height: 1.6;
        min-height: 565px;
        height: 100%;
    }


    .heading{
        font-size: 3rem;
        letter-spacing: 2px;
        display: inline-block;
        margin: 15px 0 15px;
        padding-bottom: 8px;
        position: relative;
    }
    .factor {
        font-size: 1.6rem;
        padding: 75px 10px 30px 10px;
    }

    .mobile{
        display: inline;
        text-align: center;
    }

    /*##############################*/
    /*header*/
    /*##############################*/
    .header{
        height: 75px;
        padding: 10px 10px 10px 10px;
    }
    .header_img{
        height: 85%;
        padding-right: 5px;
    }

    .menu-trigger{
        border-left: 1px solid white;
        height: 56px;
        width: 56px;
        padding: 8px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        float: right;
    }
    .menu-trigger span{
        display: block;
        width: 100%;
        background-color: white;
        height: 4px;
    }


    .global-nav{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap-reverse;

        width: 100vw;
        margin-top: 9px;
        margin-left: -10px;

        z-index: -1;
    }

    .global-nav-list{
        float: right;
        display: none;
        height: 200px;
        width: 100%;


        flex-direction: column;
        align-items: center;
    }

    .nav-item{
        text-align: center;
        display: block;
        height: 60px;
        width: 100%;
        border-bottom: 1px solid white;
        border-left: 1px solid white;
        border-right: 1px solid white;
        background-color: #ffc33c;
    }

    .global-nav .nav-item a{
        letter-spacing: 1px;
        line-height: 60px;
        height: 60px;
        width: 100%;
        display: inline-block;
        padding: 0;
    }



    /*##############################*/
    /*contents*/
    /*##############################*/


    .contents-wrapper{
        display: -webkit-flex;
        display: flex;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 30px;

        -webkit-flex-direction: column; /* Safari */
        flex-direction:         column;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: stretch;
    }
    h3{
        font-size: 2.2rem;
        letter-spacing: 3px;
        margin-top: 30px;
    }

 
    /*##############################*/
    /*footer*/
    /*##############################*/

    .footer{
        height: 60px;
    }
    .copyright{
        text-align: center;
        letter-spacing: 1px;
        line-height: 2;
        padding: 5px 10px;
    }
}



#phinaCanvas {
    display: block;
}

@media (min-width: 768px)
{

    #blocklyArea {
        height: 72vh;
        width: 60vw;
    }

    #phinaDiv {
        height: 72vh;
    }

}

@media (max-width: 768px)
{
    #blocklyArea {
        height: calc(100vh - 75px);
    }

    #phinaCanvas {
        margin: 0 auto;
        margin-bottom: 20px;
    }
}


