#blocklyArea {
    min-height: 400px;
    height: 53vw;
    margin-top: 55px;
}

#phinaDiv {
    max-height: 100vh;
}
#button {
    font-size: 30px;
    color: #f5f5f5;
    background-color: #00c8f8;
    transition: background-color 300ms 0s ease;
    border: solid thin #c7b390;
}

#button:hover {
    background-color: #00acc6;
    transition: all 300ms 0s ease;
}

#button[value="running"] {
    background-color: #f54961;
    transition: background-color 300ms 0s ease;
}

#button[value="running"]:hover {
    background-color: #c43a4d;
    transition: all 300ms 0s ease;
}
