#blocklyArea {
    min-height: 400px;
    height: 53vw;
    margin-top: 55px;
}

#phinaDiv {
    max-height: 100vh;
}
#button {
    width: 200px;
    height: 100px;
    background-color: #000;
}

#button[value="running"] {
    background-color: red;
}
