.mainRow {
    height: 800px;
    width: 100%;
}


.mainContents {
    float:left;
}

#phinaDiv {
    height: 50%;
    width: 40%;
}

#blocklyDiv {
    height: 480px;
    width: 600px;
}

#button {
    width: 200px;
    height: 100px;
    background-color: #000;
}

#button[value="running"] {
    background-color: red;
}
